@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

:root {
@apply bg-[#AD9685];
font-family: 'Lora', serif;
}
.landing-page {
    position: relative;
}

.landing-page::before {
    content: "";
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/landing-page-bg.gif') center center / cover no-repeat;  /* Adjust the background properties here */
    opacity: 0.5;
    z-index: -1;
}

.mapContainer {
    width: 100%;
    height: 100%;
    @apply rounded-lg 
  }
  
  @media screen and (max-width: 600px) {
    .mapContainer {
      display: none;
    }
  }
  